USE [NBA]
GO
/****** Object:  StoredProcedure [dbo].[tb_MachineLearning]    Script Date: 1/20/2026 4:15:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[tb_MachineLearning]
@GAME_ID varchar(255),
@GAME_DATE varchar(255),
@TEAM_ID_HOME varchar(255),
@TEAM_NAME_HOME varchar(255),
@PTS_HOME_PREV varchar(255),
@TEAM_ID_AWAY varchar(255),
@TEAM_NAME_AWAY varchar(255),
@PTS_AWAY_PREV varchar(255)

AS
BEGIN
	-- Checar se a partida ja nao exise
	IF NOT EXISTS (
		SELECT 1 FROM TB_MACHINE_LEARNING
		WHERE GAME_ID = @GAME_ID
	)
	BEGIN
		-- se a partida nao exister, inserir
		INSERT INTO TB_MACHINE_LEARNING (GAME_ID,GAME_DATE,TEAM_ID_HOME,TEAM_NAME_HOME,PTS_HOME_PREV,TEAM_ID_AWAY,TEAM_NAME_AWAY,PTS_AWAY_PREV)
		VALUES (@GAME_ID,@GAME_DATE,@TEAM_ID_HOME,@TEAM_NAME_HOME,@PTS_HOME_PREV,@TEAM_ID_AWAY,@TEAM_NAME_AWAY,@PTS_AWAY_PREV)
	END
	ELSE
	BEGIN 
		-- se a partida ja existir, mudar a data partida
		UPDATE TB_MACHINE_LEARNING
		SET 
--			GAME_ID = @GAME_ID,
			GAME_DATE = @GAME_DATE,
			TEAM_ID_HOME = @TEAM_ID_HOME,
			TEAM_NAME_HOME = @TEAM_NAME_HOME,
			PTS_HOME_PREV = @PTS_HOME_PREV,
			TEAM_ID_AWAY = @TEAM_ID_AWAY,
			TEAM_NAME_AWAY = @TEAM_NAME_AWAY,
			PTS_AWAY_PREV = @PTS_AWAY_PREV
		WHERE 
			GAME_ID = @GAME_ID
	END
END

