USE [NBA]
GO
/****** Object:  StoredProcedure [dbo].[atualizacao_Jogos]    Script Date: 1/20/2026 3:58:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[atualizacao_Jogos]
	@id_partida INT,
	@partida varchar(255),
	@linkJogo varchar(255),
	@tempoJogo varchar(255),
	@placarJogo varchar(255),
	@imagemTime nvarchar(1000)
AS
BEGIN
	-- Checar se a partida ja nao exise
	IF NOT EXISTS (
		SELECT 1 FROM JogosNBA
		WHERE id_partida = @id_partida
	)
	BEGIN
		-- se a partida nao exister, inserir
		INSERT INTO JogosNBA (id_partida, partida, linkJogo, tempoJogo, placarJogo,imagemTime)
		VALUES (@id_partida, @Partida, @linkJogo, @tempoJogo, @placarJogo, @imagemTime)
	END
	ELSE
	BEGIN 
		-- se a partida ja existir, mudar a data partida
		UPDATE JogosNBA
		SET 
			tempoJogo = @tempoJogo,
			updated_at = GETDATE()
		WHERE 
			1 = 1
			AND id_partida = @id_partida
			AND (
				(tempoJogo != 'Final' AND updated_at IS NOT NULL) OR
				updated_at IS NULL
			)

			--tempoJogo <> 'Final'

		BEGIN
			UPDATE JogosNBA
				SET placarJogo = @placarJogo
			WHERE
				1 = 1 AND
				id_partida = @id_partida

		END
	END
END


