USE [NBA]
GO
/****** Object:  StoredProcedure [dbo].[PROC_AtualizacaoJogosHoje]    Script Date: 1/20/2026 4:03:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PROC_AtualizacaoJogosHoje]
(
    @HOME_TEAM_ID    VARCHAR(255) = NULL,
    @NAME_TEAM_x     VARCHAR(255) = NULL,
    @HOME_TEAM_ABBR  VARCHAR(255) = NULL,
    @GAME_ID         VARCHAR(255) = NULL,
    @GAME_DATE       VARCHAR(255) = NULL, 
    @GAME_HORA       VARCHAR(255) = NULL, 
    @AWAY_TEAM_ID    VARCHAR(255) = NULL,
    @NAME_TEAM_y     VARCHAR(255) = NULL,
    @AWAY_TEAM_ABBR  VARCHAR(255) = NULL,
    @ARENA_NAME      VARCHAR(255) = NULL,
    @SEASON          VARCHAR(255) = NULL,
	@GAME_STATUS_PARTIDA VARCHAR(255) = NULL,
	@SeasonType			 VARCHAR(255) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    --------------------------------------------------
    -- Validação básica
    --------------------------------------------------
    IF @GAME_ID IS NULL OR LTRIM(RTRIM(@GAME_ID)) = ''
        RETURN;

    --------------------------------------------------
    -- INSERT (primeira vez do jogo)
    --------------------------------------------------
    IF NOT EXISTS (
        SELECT 1
        FROM AtualizacaoJogosHoje
        WHERE GAME_ID = @GAME_ID
    )
    BEGIN
        INSERT INTO AtualizacaoJogosHoje
        (
            HOME_TEAM_ID,
            NAME_TEAM_x,
            HOME_TEAM_ABBR,
            GAME_ID,
            GAME_DATE,
            GAME_HORA,
            GAME_DATE_STATUS,
			GAME_STATUS_PARTIDA,
            AWAY_TEAM_ID,
            NAME_TEAM_y,
            AWAY_TEAM_ABBR,
            ARENA_NAME,
            SEASON,
			SeasonType
        )
        VALUES
        (
            @HOME_TEAM_ID,
            @NAME_TEAM_x,
            @HOME_TEAM_ABBR,
            @GAME_ID,
            @GAME_DATE,   
            @GAME_HORA,   
            @GAME_HORA,   
			@GAME_STATUS_PARTIDA,
            @AWAY_TEAM_ID,
            @NAME_TEAM_y,
            @AWAY_TEAM_ABBR,
            @ARENA_NAME,
            @SEASON,
			@SeasonType
        );
    END
    ELSE
    BEGIN
        --------------------------------------------------
        -- UPDATE (API rodando várias vezes)
        --------------------------------------------------
        UPDATE AtualizacaoJogosHoje
        SET
            HOME_TEAM_ID      = @HOME_TEAM_ID,
            NAME_TEAM_x       = @NAME_TEAM_x,
            HOME_TEAM_ABBR    = @HOME_TEAM_ABBR,
			GAME_STATUS_PARTIDA = @GAME_STATUS_PARTIDA,
            GAME_DATE_STATUS  = @GAME_HORA,
            AWAY_TEAM_ID      = @AWAY_TEAM_ID,
            NAME_TEAM_y       = @NAME_TEAM_y,
            AWAY_TEAM_ABBR    = @AWAY_TEAM_ABBR,
            ARENA_NAME        = @ARENA_NAME,
            SEASON            = @SEASON,
			SeasonType		  = @SeasonType
        WHERE GAME_ID = @GAME_ID;
    END
END
