USE [NBA]
GO
/****** Object:  StoredProcedure [dbo].[PROC_base_api_Basquete]    Script Date: 1/20/2026 3:56:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PROC_base_api_Basquete]
    @SEASON_ID          VARCHAR(255) = NULL,
    @TEAM_ID            VARCHAR(255) = NULL,
    @TEAM_ABBREVIATION  VARCHAR(255) = NULL,
    @TEAM_NAME          VARCHAR(255) = NULL,
    @GAME_ID            VARCHAR(255) = NULL,
    @GAME_DATE          VARCHAR(255) = NULL,
    @MATCHUP            VARCHAR(255) = NULL,
    @WL                 VARCHAR(255) = NULL,
    @MIN                VARCHAR(255) = NULL,
    @PTS                VARCHAR(255) = NULL,
    @FGM                VARCHAR(255) = NULL,
    @FGA                VARCHAR(255) = NULL,
    @FG_PCT             VARCHAR(255) = NULL,
    @FG3M               VARCHAR(255) = NULL,
    @FG3A               VARCHAR(255) = NULL,
    @FG3_PCT            VARCHAR(255) = NULL,
    @FTM                VARCHAR(255) = NULL,
    @FTA                VARCHAR(255) = NULL,
    @FT_PCT             VARCHAR(255) = NULL,
    @OREB               VARCHAR(255) = NULL,
    @DREB               VARCHAR(255) = NULL,
    @REB                VARCHAR(255) = NULL,
    @AST                VARCHAR(255) = NULL,
    @STL                VARCHAR(255) = NULL,
    @BLK                VARCHAR(255) = NULL,
    @TOV                VARCHAR(255) = NULL,
    @PF                 VARCHAR(255) = NULL,
    @PLUS_MINUS         VARCHAR(255) = NULL,
    @SEASON             VARCHAR(255) = NULL,
    @SeasonType         VARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    MERGE base_api_Basquete AS TARGET
    USING (
        SELECT
            @GAME_ID  AS GAME_ID,
            @TEAM_ID  AS TEAM_ID
    ) AS SOURCE
    ON (
        TARGET.GAME_ID = SOURCE.GAME_ID
        AND TARGET.TEAM_ID = SOURCE.TEAM_ID
    )

    WHEN NOT MATCHED THEN
        INSERT (
            SEASON_ID, TEAM_ID, TEAM_ABBREVIATION, TEAM_NAME,
            GAME_ID, GAME_DATE, MATCHUP, WL, MIN, PTS,
            FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT,
            FTM, FTA, FT_PCT, OREB, DREB, REB,
            AST, STL, BLK, TOV, PF, PLUS_MINUS,
            SEASON, SeasonType
        )
        VALUES (
            @SEASON_ID, @TEAM_ID, @TEAM_ABBREVIATION, @TEAM_NAME,
            @GAME_ID, @GAME_DATE, @MATCHUP, @WL, @MIN, @PTS,
            @FGM, @FGA, @FG_PCT, @FG3M, @FG3A, @FG3_PCT,
            @FTM, @FTA, @FT_PCT, @OREB, @DREB, @REB,
            @AST, @STL, @BLK, @TOV, @PF, @PLUS_MINUS,
            @SEASON, @SeasonType
        )

    WHEN MATCHED THEN
        UPDATE SET
            SEASON_ID         = @SEASON_ID,
            TEAM_ABBREVIATION = @TEAM_ABBREVIATION,
            TEAM_NAME         = @TEAM_NAME,
            GAME_DATE         = @GAME_DATE,
            MATCHUP           = @MATCHUP,
            WL                = @WL,
            MIN               = @MIN,
            PTS               = @PTS,
            FGM               = @FGM,
            FGA               = @FGA,
            FG_PCT            = @FG_PCT,
            FG3M              = @FG3M,
            FG3A              = @FG3A,
            FG3_PCT           = @FG3_PCT,
            FTM               = @FTM,
            FTA               = @FTA,
            FT_PCT            = @FT_PCT,
            OREB              = @OREB,
            DREB              = @DREB,
            REB               = @REB,
            AST               = @AST,
            STL               = @STL,
            BLK               = @BLK,
            TOV               = @TOV,
            PF                = @PF,
            PLUS_MINUS        = @PLUS_MINUS,
            SEASON            = @SEASON,
            SeasonType        = @SeasonType;
END