USE [NBA]
GO
/****** Object:  StoredProcedure [dbo].[PROC_Classificacao]    Script Date: 1/20/2026 3:57:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PROC_Classificacao]
	@time					varchar(250),
	@percVitoria			varchar(250),
	@pontosSofridos			varchar(250),
	@pontosFeitos			varchar(250),
	@DiferencaJogosLider	varchar(250),
	@Vitorias				varchar(250),
	@Derrota				varchar(250),
	@JogosCasa				varchar(250),
	@JogosFora				varchar(250),
	@ConfrontoDivisao		varchar(250),
	@ConfrontoConferencia	varchar(250),
	@logoTime				varchar(250)
AS
BEGIN
	IF NOT EXISTS (
	SELECT 1 FROM tb_classificacao
	WHERE
		time = @time
	)
	BEGIN
		INSERT INTO tb_classificacao(time, percVitoria,pontosSofridos,pontosFeitos,DiferencaJogosLider,Vitorias, Derrota, JogosCasa,JogosFora,ConfrontoDivisao,ConfrontoConferencia,logoTime)
		VALUES (@time, @percVitoria,@pontosSofridos,@pontosFeitos,@DiferencaJogosLider,@Vitorias, @Derrota, @JogosCasa,@JogosFora,@ConfrontoDivisao,@ConfrontoConferencia,@logoTime)
	END
	ELSE
	BEGIN
		UPDATE tb_classificacao
		SET
			logoTime = @logoTime,
			percVitoria = @percVitoria,
			pontosSofridos = @pontosSofridos,
			pontosFeitos = @pontosFeitos,
			DiferencaJogosLider = @DiferencaJogosLider,
			Vitorias = @Vitorias,
			Derrota = @Derrota,
			JogosCasa = @JogosCasa,
			JogosFora = @JogosFora,
			ConfrontoDivisao = @ConfrontoDivisao,
			ConfrontoConferencia = @ConfrontoConferencia
		WHERE
			time = @time
	END
END