USE [NBA]
GO
/****** Object:  StoredProcedure [dbo].[PROC_tratamento_API_Base_Basquete]    Script Date: 1/20/2026 4:07:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PROC_tratamento_API_Base_Basquete]  as

WITH BASE AS (
select 
	*,
	CASE 
		WHEN MATCHUP LIKE '%vs%' THEN 0 ELSE 1
	END SEPARAR
from base_api_Basquete
),

HOME AS (
SELECT 
	SEASON_ID			 AS SEASON_ID_HOME,
	TEAM_ID				 AS TEAM_ID_HOME,
	TEAM_ABBREVIATION	 AS TEAM_ABBREVIATION_HOME,
	TEAM_NAME			 AS TEAM_NAME_HOME,
	GAME_ID				 AS GAME_ID_HOME,
	GAME_DATE			 AS GAME_DATE_HOME,
	MATCHUP				 AS MATCHUP_HOME,
	WL					 AS WL_HOME,
	MIN					 AS MIN_HOME,
	PTS					 AS PTS_HOME,
	FGM					 AS FGM_HOME,
	FGA					 AS FGA_HOME,
	FG_PCT				 AS FG_PCT_HOME,
	FG3M				 AS FG3M_HOME,
	FG3A				 AS FG3A_HOME,
	FG3_PCT				 AS FG3_PCT_HOME,
	FTM					 AS FTM_HOME,
	FTA					 AS FTA_HOME,
	FT_PCT				 AS FT_PCT_HOME,
	OREB				 AS OREB_HOME,
	DREB				 AS DREB_HOME,
	REB					 AS REB_HOME,
	AST					 AS AST_HOME,
	STL					 AS STL_HOME,
	BLK					 AS BLK_HOME,
	TOV					 AS TOV_HOME,
	PF					 AS PF_HOME,
	PLUS_MINUS			 AS PLUS_MINUS_HOME,
	SEASON				 AS SEASON_HOME,
	SeasonType			 AS SeasonType_HOME,
	SEPARAR				 AS SEPARAR_HOME
FROM BASE
WHERE
	SEPARAR = 0
),

AWAY AS (
SELECT 
	SEASON_ID			 AS SEASON_ID_AWAY,
	TEAM_ID				 AS TEAM_ID_AWAY,
	TEAM_ABBREVIATION	 AS TEAM_ABBREVIATION_AWAY,
	TEAM_NAME			 AS TEAM_NAME_AWAY,
	GAME_ID				 AS GAME_ID_AWAY,
	GAME_DATE			 AS GAME_DATE_AWAY,
	MATCHUP				 AS MATCHUP_AWAY,
	WL					 AS WL_AWAY,
	MIN					 AS MIN_AWAY,
	PTS					 AS PTS_AWAY,
	FGM					 AS FGM_AWAY,
	FGA					 AS FGA_AWAY,
	FG_PCT				 AS FG_PCT_AWAY,
	FG3M				 AS FG3M_AWAY,
	FG3A				 AS FG3A_AWAY,
	FG3_PCT				 AS FG3_PCT_AWAY,
	FTM					 AS FTM_AWAY,
	FTA					 AS FTA_AWAY,
	FT_PCT				 AS FT_PCT_AWAY,
	OREB				 AS OREB_AWAY,
	DREB				 AS DREB_AWAY,
	REB					 AS REB_AWAY,
	AST					 AS AST_AWAY,
	STL					 AS STL_AWAY,
	BLK					 AS BLK_AWAY,
	TOV					 AS TOV_AWAY,
	PF					 AS PF_AWAY,
	PLUS_MINUS			 AS PLUS_MINUS_AWAY,
	SEASON				 AS SEASON_AWAY,
	SeasonType			 AS SeasonType_AWAY,
	SEPARAR				 AS SEPARAR_AWAY
FROM BASE
WHERE
	SEPARAR = 1
),

JUNTANDO_BASE AS (
SELECT 
	SEASON_ID_HOME AS SEASON_ID,
	GAME_ID_HOME AS GAME_ID,
	GAME_DATE_HOME AS GAME_DATE,
	TEAM_ID_HOME,
	TEAM_ABBREVIATION_HOME,
	TEAM_NAME_HOME,
	MATCHUP_HOME,
	WL_HOME,
	MIN_HOME,
	PTS_HOME,
	FGM_HOME,
	FGA_HOME,
	FG_PCT_HOME,
	FG3M_HOME,
	FG3A_HOME,
	FG3_PCT_HOME,
	FTM_HOME,
	FTA_HOME,
	FT_PCT_HOME,
	OREB_HOME,
	DREB_HOME,
	REB_HOME,
	AST_HOME,
	STL_HOME,
	BLK_HOME,
	TOV_HOME,
	PF_HOME,
	PLUS_MINUS_HOME,

	TEAM_ID_AWAY,
	TEAM_ABBREVIATION_AWAY,
	TEAM_NAME_AWAY,
	MATCHUP_AWAY,
	WL_AWAY,
	MIN_AWAY,
	PTS_AWAY,
	FGM_AWAY,
	FGA_AWAY,
	FG_PCT_AWAY,
	FG3M_AWAY,
	FG3A_AWAY,
	FG3_PCT_AWAY,
	FTM_AWAY,
	FTA_AWAY,
	FT_PCT_AWAY,
	OREB_AWAY,
	DREB_AWAY,
	REB_AWAY,
	AST_AWAY,
	STL_AWAY,
	BLK_AWAY,
	TOV_AWAY,
	PF_AWAY,
	PLUS_MINUS_AWAY,
	SEASON_AWAY AS SEASON,
	CASE
		WHEN SUBSTRING(GAME_ID_HOME,3,1) = 1 THEN 'Preseason'
		WHEN SUBSTRING(GAME_ID_HOME,3,1) = 2 THEN 'RegularSeason'
		WHEN SUBSTRING(GAME_ID_HOME,3,1) = 3 THEN 'IST'
		WHEN SUBSTRING(GAME_ID_HOME,3,1) = 4 THEN 'Playoffs'
		WHEN SUBSTRING(GAME_ID_HOME,3,1) = 5 THEN 'PlayIn'
		WHEN SUBSTRING(GAME_ID_HOME,3,1) = 6 THEN 'AllStar' ELSE SeasonType_AWAY 
	END SeasonType
FROM HOME
LEFT JOIN
	AWAY ON HOME.GAME_ID_HOME = AWAY.GAME_ID_AWAY AND HOME.GAME_DATE_HOME = AWAY.GAME_DATE_AWAY
),

BASE_JOGOS_ATUAL AS (
SELECT 
	NULL AS SEASON_ID,
	GAME_ID,
	CAST(GAME_DATE AS DATE) AS GAME_DATE,
	HOME_TEAM_ID AS TEAM_ID_HOME,
	HOME_TEAM_ABBR AS TEAM_ABBREVIATION_HOME,
	NAME_TEAM_x AS TEAM_NAME_HOME,
	CONCAT(HOME_TEAM_ABBR,' vs. ',AWAY_TEAM_ABBR) AS MATCHUP_HOME,
	NULL AS WL_HOME,
	CAST(0 AS VARCHAR) AS MIN_HOME,
	CAST(0 AS VARCHAR) AS PTS_HOME,
	CAST(0 AS VARCHAR) AS FGM_HOME,
	CAST(0 AS VARCHAR) AS FGA_HOME,
	CAST(0 AS VARCHAR) AS FG_PCT_HOME,
	CAST(0 AS VARCHAR) AS FG3M_HOME,
	CAST(0 AS VARCHAR) AS FG3A_HOME,
	CAST(0 AS VARCHAR) AS FG3_PCT_HOME,
	CAST(0 AS VARCHAR) AS FTM_HOME,
	CAST(0 AS VARCHAR) AS FTA_HOME,
	CAST(0 AS VARCHAR) AS FT_PCT_HOME,
	CAST(0 AS VARCHAR) AS OREB_HOME,
	CAST(0 AS VARCHAR) AS DREB_HOME,
	CAST(0 AS VARCHAR) AS REB_HOME,
	CAST(0 AS VARCHAR) AS AST_HOME,
	CAST(0 AS VARCHAR) AS STL_HOME,
	CAST(0 AS VARCHAR) AS BLK_HOME,
	CAST(0 AS VARCHAR) AS TOV_HOME,
	CAST(0 AS VARCHAR) AS PF_HOME,
	CAST(0 AS VARCHAR) AS PLUS_MINUS_HOME,

	AWAY_TEAM_ID AS TEAM_ID_AWAY,
	AWAY_TEAM_ABBR AS TEAM_ABBREVIATION_AWAY,
	NAME_TEAM_y AS TEAM_NAME_AWAY,
	CONCAT(AWAY_TEAM_ABBR,' @ ',HOME_TEAM_ABBR) AS MATCHUP_AWAY,
	NULL AS WL_AWAY,
	CAST(0 AS VARCHAR) AS MIN_AWAY,
	CAST(0 AS VARCHAR) AS PTS_AWAY,
	CAST(0 AS VARCHAR) AS FGM_AWAY,
	CAST(0 AS VARCHAR) AS FGA_AWAY,
	CAST(0 AS VARCHAR) AS FG_PCT_AWAY,
	CAST(0 AS VARCHAR) AS FG3M_AWAY,
	CAST(0 AS VARCHAR) AS FG3A_AWAY,
	CAST(0 AS VARCHAR) AS FG3_PCT_AWAY,
	CAST(0 AS VARCHAR) AS FTM_AWAY,
	CAST(0 AS VARCHAR) AS FTA_AWAY,
	CAST(0 AS VARCHAR) AS FT_PCT_AWAY,
	CAST(0 AS VARCHAR) AS OREB_AWAY,
	CAST(0 AS VARCHAR) AS DREB_AWAY,
	CAST(0 AS VARCHAR) AS REB_AWAY,
	CAST(0 AS VARCHAR) AS AST_AWAY,
	CAST(0 AS VARCHAR) AS STL_AWAY,
	CAST(0 AS VARCHAR) AS BLK_AWAY,
	CAST(0 AS VARCHAR) AS TOV_AWAY,
	CAST(0 AS VARCHAR) AS PF_AWAY,
	CAST(0 AS VARCHAR) AS PLUS_MINUS_AWAY,
	CAST(0 AS VARCHAR) AS SEASON,
	SEASONTYPE
FROM AtualizacaoJogosHoje
WHERE
	GAME_DATE = (SELECT MAX(GAME_DATE) FROM AtualizacaoJogosHoje)
),

FINAL AS (
SELECT * FROM JUNTANDO_BASE 
UNION ALL
SELECT * FROM BASE_JOGOS_ATUAL
)


MERGE TB_Base_API
USING FINAL
	ON TB_Base_API.GAME_ID = FINAL.GAME_ID AND
	   TB_Base_API.GAME_DATE = FINAL.GAME_DATE

WHEN MATCHED THEN
    UPDATE SET
		TB_BASE_API.SEASON_ID				= FINAL.SEASON_ID,
		--TB_BASE_API.GAME_ID				= FINAL.GAME_ID,
		--TB_BASE_API.GAME_DATE				= FINAL.GAME_DATE,
		TB_BASE_API.TEAM_ID_HOME			= FINAL.TEAM_ID_HOME,
		TB_BASE_API.TEAM_ABBREVIATION_HOME	= FINAL.TEAM_ABBREVIATION_HOME,
		TB_BASE_API.TEAM_NAME_HOME			= FINAL.TEAM_NAME_HOME,
		TB_BASE_API.MATCHUP_HOME			= FINAL.MATCHUP_HOME,
		TB_BASE_API.WL_HOME					= FINAL.WL_HOME,
		TB_BASE_API.MIN_HOME				= FINAL.MIN_HOME,
		TB_BASE_API.PTS_HOME				= FINAL.PTS_HOME,
		TB_BASE_API.FGM_HOME				= FINAL.FGM_HOME,
		TB_BASE_API.FGA_HOME				= FINAL.FGA_HOME,
		TB_BASE_API.FG_PCT_HOME				= FINAL.FG_PCT_HOME,
		TB_BASE_API.FG3M_HOME				= FINAL.FG3M_HOME,
		TB_BASE_API.FG3A_HOME				= FINAL.FG3A_HOME,
		TB_BASE_API.FG3_PCT_HOME			= FINAL.FG3_PCT_HOME,
		TB_BASE_API.FTM_HOME				= FINAL.FTM_HOME,
		TB_BASE_API.FTA_HOME				= FINAL.FTA_HOME,
		TB_BASE_API.FT_PCT_HOME				= FINAL.FT_PCT_HOME,
		TB_BASE_API.OREB_HOME				= FINAL.OREB_HOME,
		TB_BASE_API.DREB_HOME				= FINAL.DREB_HOME,
		TB_BASE_API.REB_HOME				= FINAL.REB_HOME,
		TB_BASE_API.AST_HOME				= FINAL.AST_HOME,
		TB_BASE_API.STL_HOME				= FINAL.STL_HOME,
		TB_BASE_API.BLK_HOME				= FINAL.BLK_HOME,
		TB_BASE_API.TOV_HOME				= FINAL.TOV_HOME,
		TB_BASE_API.PF_HOME					= FINAL.PF_HOME,
		TB_BASE_API.PLUS_MINUS_HOME			= FINAL.PLUS_MINUS_HOME,
		TB_BASE_API.TEAM_ID_AWAY			= FINAL.TEAM_ID_AWAY,
		TB_BASE_API.TEAM_ABBREVIATION_AWAY	= FINAL.TEAM_ABBREVIATION_AWAY,
		TB_BASE_API.TEAM_NAME_AWAY			= FINAL.TEAM_NAME_AWAY,
		TB_BASE_API.MATCHUP_AWAY			= FINAL.MATCHUP_AWAY,
		TB_BASE_API.WL_AWAY					= FINAL.WL_AWAY,
		TB_BASE_API.MIN_AWAY				= FINAL.MIN_AWAY,
		TB_BASE_API.PTS_AWAY				= FINAL.PTS_AWAY,
		TB_BASE_API.FGM_AWAY				= FINAL.FGM_AWAY,
		TB_BASE_API.FGA_AWAY				= FINAL.FGA_AWAY,
		TB_BASE_API.FG_PCT_AWAY				= FINAL.FG_PCT_AWAY,
		TB_BASE_API.FG3M_AWAY				= FINAL.FG3M_AWAY,
		TB_BASE_API.FG3A_AWAY				= FINAL.FG3A_AWAY,
		TB_BASE_API.FG3_PCT_AWAY			= FINAL.FG3_PCT_AWAY,
		TB_BASE_API.FTM_AWAY				= FINAL.FTM_AWAY,
		TB_BASE_API.FTA_AWAY				= FINAL.FTA_AWAY,
		TB_BASE_API.FT_PCT_AWAY				= FINAL.FT_PCT_AWAY,
		TB_BASE_API.OREB_AWAY				= FINAL.OREB_AWAY,
		TB_BASE_API.DREB_AWAY				= FINAL.DREB_AWAY,
		TB_BASE_API.REB_AWAY				= FINAL.REB_AWAY,
		TB_BASE_API.AST_AWAY				= FINAL.AST_AWAY,
		TB_BASE_API.STL_AWAY				= FINAL.STL_AWAY,
		TB_BASE_API.BLK_AWAY				= FINAL.BLK_AWAY,
		TB_BASE_API.TOV_AWAY				= FINAL.TOV_AWAY,
		TB_BASE_API.PF_AWAY					= FINAL.PF_AWAY,
		TB_BASE_API.PLUS_MINUS_AWAY			= FINAL.PLUS_MINUS_AWAY,
		TB_BASE_API.SEASON					= FINAL.SEASON,
		TB_BASE_API.SeasonType				= FINAL.SeasonType

		WHEN NOT MATCHED THEN
			INSERT (SEASON_ID, GAME_ID,GAME_DATE,TEAM_ID_HOME,TEAM_ABBREVIATION_HOME,TEAM_NAME_HOME,MATCHUP_HOME,WL_HOME,MIN_HOME,PTS_HOME,FGM_HOME,FGA_HOME,FG_PCT_HOME,FG3M_HOME,
			FG3A_HOME,FG3_PCT_HOME,FTM_HOME,FTA_HOME,FT_PCT_HOME,OREB_HOME,DREB_HOME,REB_HOME,AST_HOME,STL_HOME,BLK_HOME,TOV_HOME,PF_HOME,PLUS_MINUS_HOME,TEAM_ID_AWAY,
			TEAM_ABBREVIATION_AWAY,TEAM_NAME_AWAY,MATCHUP_AWAY,WL_AWAY,MIN_AWAY,PTS_AWAY,FGM_AWAY,FGA_AWAY,FG_PCT_AWAY,FG3M_AWAY,FG3A_AWAY,FG3_PCT_AWAY,FTM_AWAY,FTA_AWAY,
			FT_PCT_AWAY,OREB_AWAY,DREB_AWAY,REB_AWAY,AST_AWAY,STL_AWAY,BLK_AWAY,TOV_AWAY,PF_AWAY,PLUS_MINUS_AWAY,SEASON,SeasonType)
			VALUES (FINAL.SEASON_ID, FINAL.GAME_ID,FINAL.GAME_DATE,FINAL.TEAM_ID_HOME,FINAL.TEAM_ABBREVIATION_HOME,FINAL.TEAM_NAME_HOME,FINAL.MATCHUP_HOME,FINAL.WL_HOME,FINAL.MIN_HOME,FINAL.PTS_HOME,
			FINAL.FGM_HOME,FINAL.FGA_HOME,FINAL.FG_PCT_HOME,FINAL.FG3M_HOME,FINAL.FG3A_HOME,FINAL.FG3_PCT_HOME,FINAL.FTM_HOME,FINAL.FTA_HOME,FINAL.FT_PCT_HOME,FINAL.OREB_HOME,FINAL.DREB_HOME,
			FINAL.REB_HOME,FINAL.AST_HOME,FINAL.STL_HOME,FINAL.BLK_HOME,FINAL.TOV_HOME,FINAL.PF_HOME,FINAL.PLUS_MINUS_HOME,FINAL.TEAM_ID_AWAY,FINAL.TEAM_ABBREVIATION_AWAY,FINAL.TEAM_NAME_AWAY,
			FINAL.MATCHUP_AWAY,FINAL.WL_AWAY,FINAL.MIN_AWAY,FINAL.PTS_AWAY,FINAL.FGM_AWAY,FINAL.FGA_AWAY,FINAL.FG_PCT_AWAY,FINAL.FG3M_AWAY,FINAL.FG3A_AWAY,FINAL.FG3_PCT_AWAY,FINAL.FTM_AWAY,
			FINAL.FTA_AWAY,FINAL.FT_PCT_AWAY,FINAL.OREB_AWAY,FINAL.DREB_AWAY,FINAL.REB_AWAY,FINAL.AST_AWAY,FINAL.STL_AWAY,FINAL.BLK_AWAY,FINAL.TOV_AWAY,FINAL.PF_AWAY,FINAL.PLUS_MINUS_AWAY,
			FINAL.SEASON,FINAL.SeasonType);
