USE [NBA]
GO
/****** Object:  StoredProcedure [dbo].[PROC_tratar_tb_jogos]    Script Date: 1/20/2026 4:04:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PROC_tratar_tb_jogos]
AS
BEGIN
    SET NOCOUNT ON;

WITH ARRUMAR AS (
		SELECT 
			JogosNBA.id_partida,
			TRIM(SUBSTRING(PARTIDA, 1, CHARINDEX(' vs ', partida) - 1)) AS Home,
			TRIM(SUBSTRING(PARTIDA, CHARINDEX(' vs ', partida) + 4, LEN(PARTIDA))) AS Away,
			TRIM(SUBSTRING(placarJogo, CHARINDEX(' - ', placarJogo) + 3, LEN(placarJogo))) AS PlacarAway,
			TRIM(SUBSTRING(placarJogo, 1, CHARINDEX(' - ', placarJogo) - 1)) AS PlacarHome,
			JogosNBA.tempoJogo,
			JogosNBA.linkJogo,
			CONCAT(
					REPLACE(TRIM(SUBSTRING(PARTIDA, 1, CHARINDEX(' vs ', partida) - 1)), ' ', ''),
					REPLACE(TRIM(SUBSTRING(PARTIDA, CHARINDEX(' vs ', partida) + 4, LEN(PARTIDA))), ' ', '')
				) AS CHAVE
		FROM JogosNBA
    ),

	BASE_GERAL AS (
	SELECT
    A.id_partida,
    A.Home,
    A.Away,
    A.PlacarHome,
    A.PlacarAway,
    A.tempoJogo,
    A.linkJogo,
	CHAVE,
    MAX(CASE WHEN T.time = A.Home THEN T.imagemLogo END) AS HomeImagem,
    MAX(CASE WHEN T.time = A.Away THEN T.imagemLogo END) AS AwayImagem

FROM ARRUMAR A
LEFT JOIN tb_times T
    ON T.time IN (A.Home, A.Away)

GROUP BY
    A.id_partida,
    A.Home,
    A.Away,
    A.PlacarHome,
    A.PlacarAway,
    A.tempoJogo,
    A.linkJogo,
	CHAVE
	),

    BaseJogosHoje AS (
        SELECT
            GAME_ID,
            HOME_TEAM_ABBR AS team_abbreviation_home,
            AWAY_TEAM_ABBR AS team_abbreviation_away,

            CASE
                WHEN GAME_HORA LIKE '%ET%'
                THEN
                    CAST(
                        CAST(
                            CONVERT(
                                TIME(0),
                                REPLACE(GAME_HORA, ' ET', ''),
                                100
                            ) AS DATETIME2(0)
                        ) AT TIME ZONE 'Eastern Standard Time'
                    AS TIME)
                ELSE NULL
            END AS GAME_HORA,

            CAST(GAME_DATE AS DATE) AS GAME_DATE,
            REPLACE(CONCAT(NAME_TEAM_x, NAME_TEAM_y), ' ', '') AS CHAVE,
			GAME_DATE_STATUS,
            GAME_STATUS_PARTIDA,
			SEASON,
			SeasonType
        FROM AtualizacaoJogosHoje
    ),

    JogosHojeBaseGeral AS (
	SELECT 
		*,
		REPLACE(CONCAT(id_partida,Home,Away),' ','') AS CHAVEJOGOS
	FROM
	(
        SELECT 
            GAME_ID,
            BG.*,
            BJ.team_abbreviation_home,
            BJ.team_abbreviation_away,
            BJ.GAME_DATE,
            BJ.GAME_HORA,
            BJ.GAME_STATUS_PARTIDA,
			GAME_DATE_STATUS,
			BJ.SEASON,
			BJ.SeasonType,
			CASE
				WHEN tempoJogo LIKE '%hours%' THEN CAST(GETDATE() AS DATE)
			END DATAJOGO
        FROM BASE_GERAL BG
        LEFT JOIN (
			SELECT 
				*
			FROM BaseJogosHoje
			WHERE
				GAME_DATE = (SELECT MAX(GAME_DATE) FROM BaseJogosHoje)) BJ
            ON BJ.CHAVE = BG.CHAVE
			WHERE 
				GAME_ID IS NOT NULL
				AND (
					tempoJogo LIKE '%minute%' OR
					tempoJogo LIKE '%hours%' OR
					tempoJogo LIKE '%day%' OR
					tempoJogo LIKE '%Match%'
				)
				)A


    ),

	JogosPassados AS (
	SELECT 
		*,
		REPLACE(CONCAT(id_partida,Home,Away),' ','') AS CHAVEJOGOS
	FROM
	(
        SELECT 
            GAME_ID,
            BG.*,
            BJ.team_abbreviation_home,
            BJ.team_abbreviation_away,
            BJ.GAME_DATE,
            BJ.GAME_HORA,
            BJ.GAME_STATUS_PARTIDA,
			GAME_DATE_STATUS,
			BJ.SEASON,
			BJ.SeasonType,
			CASE
				WHEN tempoJogo LIKE '%hours%' THEN CAST(GETDATE() AS DATE)
			END DATAJOGO
        FROM BASE_GERAL BG
        LEFT JOIN (
			SELECT 
				* 
			FROM BaseJogosHoje
			WHERE
				GAME_DATE <> (SELECT MAX(GAME_DATE) FROM BaseJogosHoje)) BJ
            ON BJ.CHAVE = BG.CHAVE
        WHERE 
			--GAME_ID IS NOT NULL AND
			PlacarHome <> 'Sem Placar' AND
			PlacarAway <> 'Sem Placar')A
    ),


	UNINDOBASES AS (
		SELECT * FROM JogosHojeBaseGeral
		UNION ALL
		SELECT * FROM JogosPassados
	),

    Final AS (
	SELECT 
		id_partida,
		GAME_ID,
		GAME_DATE,
		GAME_HORA,
		HOME,
		team_abbreviation_home,
		PlacarHome,
		Away,
		PlacarAway,
		team_abbreviation_away,
		tempoJogo,
		HomeImagem,
		AwayImagem,
		InicioPartida,
		--DATAJOGO,
		InicioPartidaBR,
		linkJogo,
		SEASON,
		SeasonType,
		GAME_DATE_STATUS
		FROM
	(
	SELECT 
		id_partida,
		GAME_ID,
		GAME_DATE,
		GAME_HORA,
		HOME,
		team_abbreviation_home,
		PlacarHome,
		Away,
		PlacarAway,
		team_abbreviation_away,
		tempoJogo,
		HomeImagem,
		AwayImagem,
		InicioPartida,
		--DATAJOGO,
		InicioPartidaBR,
		linkJogo,
		SEASON,
		SeasonType,
		GAME_DATE_STATUS,
		ROW_NUMBER() OVER(PARTITION BY ID_PARTIDA ORDER BY GAME_DATE DESC) AS RK
	FROM
	(
	SELECT 
		A.*,
		JBG.GAME_ID,
        JBG.GAME_DATE,
        JBG.GAME_HORA,
		JBG.team_abbreviation_home,
		JBG.team_abbreviation_away,
	    JBG.Season,
        JBG.SeasonType,
		GAME_DATE_STATUS,
		CASE
			WHEN A.tempoJogo LIKE '%Final%' OR JBG.GAME_STATUS_PARTIDA = 3 THEN 'Final'
			WHEN A.tempoJogo LIKE '%Match%' THEN 'PartidaIniciada'
			WHEN A.tempoJogo LIKE '%day%' THEN 'ProximaPartida'
			WHEN A.tempoJogo LIKE '%minute%' OR A.tempoJogo LIKE '%hours%' THEN 'JogosHoje'
            WHEN JBG.GAME_STATUS_PARTIDA = 1 AND
                 JBG.GAME_DATE = CAST(
                 SYSDATETIMEOFFSET()
                 AT TIME ZONE 'E. South America Standard Time'
                 AT TIME ZONE 'Eastern Standard Time' AS DATE
                 ) THEN 'JogosHoje'
            WHEN JBG.GAME_STATUS_PARTIDA = 1 THEN 'ProximaPartida'
            ELSE 'Final'
         END AS InicioPartida,

         CASE
             WHEN JBG.GAME_HORA IS NOT NULL
             THEN
                 CAST(
                     (
                         CAST(JBG.GAME_DATE AS DATETIME)
                         + CAST(JBG.GAME_HORA AS DATETIME)
                     )
                     AT TIME ZONE 'Eastern Standard Time'
                     AT TIME ZONE 'E. South America Standard Time'
                 AS DATETIME)
             ELSE NULL
         END AS InicioPartidaBR,
		 REPLACE(CONCAT(A.id_partida,A.Home,A.Away),' ','') AS CHAVEJOGOS
	FROM
        (SELECT
            BG.ID_PARTIDA,
            BG.Home,
            BG.PlacarHome,
            BG.tempoJogo,
            BG.Away,
            BG.PlacarAway,
            BG.HomeImagem,
            BG.AwayImagem,
			BG.linkJogo
        FROM BASE_GERAL AS BG)A
		LEFT JOIN UNINDOBASES AS JBG ON JBG.ID_PARTIDA = A.ID_PARTIDA AND CHAVEJOGOS = JBG.CHAVEJOGOS)B
		WHERE
			HomeImagem IS NOT NULL)C
		WHERE 
			RK = 1
    )

    /* =========================
       INSERT / UPDATE CONTROLADO
       ========================= */
MERGE TB_JOGOS AS T
USING Final AS S
ON T.ID_PARTIDA = S.ID_PARTIDA


WHEN NOT MATCHED THEN
    INSERT (
        ID_PARTIDA, GAME_ID, GAME_DATE, GAME_HORA,
        Home, team_abbreviation_home, PlacarHome,
        tempoJogo, Away, team_abbreviation_away, PlacarAway,
        HomeImagem, AwayImagem,
        InicioPartida, InicioPartidaBR, linkJogo,
        Season, SeasonType, GAME_DATE_STATUS
    )
    VALUES (
        S.ID_PARTIDA, S.GAME_ID, S.GAME_DATE, S.GAME_HORA,
        S.Home, S.team_abbreviation_home, S.PlacarHome,
        S.tempoJogo, S.Away, S.team_abbreviation_away, S.PlacarAway,
        S.HomeImagem, S.AwayImagem,
        S.InicioPartida, S.InicioPartidaBR, S.linkJogo,
        S.Season, S.SeasonType, S.GAME_DATE_STATUS
    )

WHEN MATCHED 

THEN
    UPDATE SET
        T.GAME_ID   = S.GAME_ID,
        T.GAME_DATE = S.GAME_DATE,
        T.GAME_HORA = S.GAME_HORA,
        T.team_abbreviation_home = S.team_abbreviation_home,
        T.team_abbreviation_away = S.team_abbreviation_away,
        T.Season = S.Season,
        T.SeasonType = S.SeasonType,
        T.InicioPartidaBR = S.InicioPartidaBR,
        T.PlacarHome = S.PlacarHome,
        T.PlacarAway = S.PlacarAway,
        T.tempoJogo  = S.tempoJogo,
        T.InicioPartida = S.InicioPartida,
        T.GAME_DATE_STATUS = S.GAME_DATE_STATUS,
		T.HomeImagem = S.HomeImagem,
		T.AwayImagem = S.AwayImagem	
		;
           
END;
