USE [NBA]
GO
/****** Object:  StoredProcedure [dbo].[proc_tratar_classificacao]    Script Date: 1/20/2026 4:06:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[proc_tratar_classificacao]
AS
BEGIN

    -- 2️⃣ Base exatamente como você definiu
    WITH BASE AS
    (
        SELECT
            tb_times.time,
            tb_times.divisao,
            tb_times.conferencia,
            ROUND(tb_classificacao.percVitoria, 3) AS percVitoria,
            tb_classificacao.pontosFeitos,
            tb_classificacao.pontosSofridos,
            tb_classificacao.DiferencaJogosLider,
            tb_classificacao.Vitorias,
            tb_classificacao.Derrota,
            tb_classificacao.JogosCasa,
            tb_classificacao.JogosFora,
            tb_classificacao.ConfrontoDivisao,
            tb_classificacao.ConfrontoConferencia,
            tb_times.imagemLogo
        FROM tb_classificacao
        LEFT JOIN tb_times 
            ON tb_times.time = tb_classificacao.time
    )
	
	MERGE tb_jogos_classificacao
USING BASE
	ON tb_jogos_classificacao.time = BASE.time

WHEN MATCHED THEN
    UPDATE SET
		    tb_jogos_classificacao.time = base.time, 
            tb_jogos_classificacao.divisao = base.divisao,
            tb_jogos_classificacao.conferencia = base.conferencia,
            tb_jogos_classificacao.percVitoria = base.percVitoria,
            tb_jogos_classificacao.pontosFeitos = base.pontosFeitos,
            tb_jogos_classificacao.pontosSofridos = base.pontosSofridos,
            tb_jogos_classificacao.DiferencaJogosLider = base.DiferencaJogosLider,
            tb_jogos_classificacao.Vitorias = base.Vitorias,
            tb_jogos_classificacao.Derrota = base.Derrota,
            tb_jogos_classificacao.JogosCasa = base.JogosCasa,
            tb_jogos_classificacao.JogosFora = base.JogosFora,
            tb_jogos_classificacao.ConfrontoDivisao = base.ConfrontoDivisao,
            tb_jogos_classificacao.ConfrontoConferencia = base.ConfrontoConferencia,
            tb_jogos_classificacao.imagemLogo = base.imagemLogo;

		END
	/*	WHEN NOT MATCHED THEN
			INSERT (time,divisao,conferencia,percVitoria,pontosFeitos,pontosSofridos,DiferencaJogosLider,Vitorias,Derrota,
					JogosCasa,JogosFora,ConfrontoDivisao,ConfrontoConferencia,imagemLogo)
			VALUES (time,divisao,conferencia,percVitoria,pontosFeitos,pontosSofridos,DiferencaJogosLider,Vitorias,Derrota,
					JogosCasa,JogosFora,ConfrontoDivisao,ConfrontoConferencia,imagemLogo);
		END*/